<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <commands>
            <command name="item:aitranslateentoes" type="DynamicPlaceholder.Feature.AITranslator.Commands.AITranslateEngToSpa, DynamicPlaceholder.Feature.AITranslator" />
        </commands>
        <processors>
            <aiTranslateEngToSpa>
                <processor mode="on" type="DynamicPlaceholder.Feature.AITranslator.Pipelines.AITranslateEngToSpaPipeline, DynamicPlaceholder.Feature.AITranslator" method="Execute" />
            </aiTranslateEngToSpa>
        </processors>
    </sitecore>
</configuration>